body {
    font-family: Roboto, sans-serif;
}

mat-toolbar {
    justify-content: space-between;
}

mat-card {
    flex: 1;
    margin: 5px;
}

mat-card-content {
    text-align: center;
}

#content {
    margin: 0 1% 0 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.data-card {
    max-width: 200px;
}

.avatar {
    font-size: 40px;
}

.data-reading {
    font-size: 32px;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}