<div>
    <mat-toolbar color="primary">
        <span>
            <button mat-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </span>

        <span>Dashboard</span>

        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar>

    <span class="done">
        <button (click)="componentDebug()" mat-fab>
            <mat-icon>check circle</mat-icon>
        </button>
    </span>

    <div id="content">
        <mat-card class="data-card" *ngFor="let d of latestData">
            <mat-card-header>
                <div class="avatar" mat-card-avatar><mat-icon [inline]="true">wifi_tethering</mat-icon></div>
                <mat-card-title>{{ d[0] | titlecase }}</mat-card-title>
                <mat-card-subtitle>read from BME280</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <span class="data-reading">{{ d[1] }}</span>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item>foo</button>
        <button mat-menu-item>bar</button>
    </mat-menu>
</div>