<div>
    <mat-toolbar color="primary">
        <span>
            <mat-icon>whatshot</mat-icon>
        </span>

        <span>Angular Material</span>

        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar>

    <span class="done">
        <button mat-fab>
            <mat-icon>check circle</mat-icon>
        </button>
    </span>
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item>foo</button>
        <button mat-menu-item>bar</button>
    </mat-menu>
</div>