<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <a mat-list-item routerLink="/">
                <mat-icon>show_chart</mat-icon>
                <span>Dashboard</span>
            </a>
            <a mat-list-item routerLink="/cake">
                <mat-icon>scatter_plot</mat-icon>
                <span>BME280</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>