<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <a mat-list-item routerLink="/">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a mat-list-item routerLink="/cake">
                <mat-icon>cake</mat-icon>
                <span>Cake?</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>